tags

*.o
*.d
*.s
*.a
*.elf
*.bin
*.map
*.epp
*.core
*.hex
*.ihex
*.lss
*.map

#symbols.[ch]
examples/*/symbols.c
examples/*/symbols.h

*.arduino
*.native

#*.avr*

tests/obj_*
obj_*

*.log

Makefile.target
doc/html
patches-*
tools/tunslip6
